// =================================================================
// 	Mediapreview
// 	Colors
// =================================================================

$colorWhite: #FFF;
$colorType: #3B3B3B;
$colorOne: #3CB76A;
$colorTwo: #064341;
$colorThree: #AABFBF;
$colorFour: #CBD7D7;
$colorFive: #C4C8C5;
$colorType: #878787;

