// =================================================================
// 	Mediapreview
// 	Pages
// =================================================================

.splash {
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	padding: 48px 0;

	.col-6 {
		margin: 0 auto;
		display: block;
		float: none;
	}

	h1, p {
		color: $colorTwo;
		text-align: center;
		opacity: 0;
	}

	p {
		@include animation(fadeIn 0.5s 0.5s ease-in forwards);
		margin-top: 32vh;
		line-height: 1.2em;
	}

	h1 {
		@include animation(fadeIn 0.5s ease-in forwards);
		background-image: url("../images/logo.svg");
		background-repeat: no-repeat;
		background-size: 75% 75%;
		background-position: center center;
		text-indent: -99999px;
	}

	img.arrow {
		@include animation(push 1s ease-in-out infinite);
		display: block;
		position: absolute;
		bottom: 48px;
		left: 50%;
		margin-left: -24px;
		width: 48px;
		height: 48px;
	}

	@include mq("extra-small", "max-width") {
		
		.col-6 {
			width: 100%;
		}
	}
}

.demo {
	width: 100%;
	height: 100vh;
}