// =================================================================
// 	Mediapreview
// 	Links
// =================================================================

a {
  cursor: pointer;
  text-decoration: none;
}

.link-btn-one {
	padding: 10px 12px 10px 10px;
	@include border-radius(2px);
	background: #fff;
	color: $colorType;
	display: block;
	width: 120px;
	text-align: center;
	margin-top: 38px;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.833em;
	letter-spacing: 1px;
}