// =================================================================
// 	Mediapreview
// 	Links
// =================================================================

a {
  cursor: pointer;
  text-decoration: none;
}

.link-btn-one {
	padding: 12px 15px 10px 15px;
	@include border-radius(2px);
	background: #fff;
	color: $colorType;
	display: block;
	width: intrinsic;
	text-align: center;
	color: $colorType;
	text-transform: uppercase;
	font-size: 0.833em;
	letter-spacing: 1px;
}