// =================================================================
// 	Mediapreview
// 	Sections
// =================================================================

.hero {
	width: 100%;
	height: auto;
	padding: 200px 0 150px 0;
	background: $colorType;
	z-index: 5;
	overflow: hidden;
	position: relative;

	.col-6 {
		z-index: 5;
		display: block;
		margin: 0 auto;
		float: none;
	}

	.col-8 {
		z-index: 5;
		display: block;
		margin: 0 auto;
		float: none;
	}

	h2 {
		color: #fff;
		text-align: center;
	}

	.link-btn-one {
		display: block;
		margin: 40px auto 0 auto;
		float: none;
	}

	img {
		opacity: 0.75;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		overflow: hidden;
	}

	@include mq("medium", "max-width") {

		.col-8, .col-6 {
			@include calc(width, "66.64% - 10px");
		}

		img {
			width: auto;
			height: 100%;
		}
	}

	@include mq("small", "max-width") {
		padding-bottom: 100px;

		.col-8, .col-6 {
			width: 100%;
		}
	}

	@include mq("super-small", "max-width") {
		padding: 130px 0 150px 0;
	}
}

.discovery {
	margin: 30px 0 0 0;

	.row {
		margin-bottom: 0;
	}

	h2 {
		color: $colorType;
		text-align: center;
	}

	h1 {
		color: $colorType;
		text-align: center;
	}

	.col-4:nth-child(3), .col-4:nth-child(6) {
		margin-right: 0;
	}

	@include mq("small", "max-width") {

		.col-4 {
			@include calc(width, "50% - 15px");
		}

		.col-4:nth-child(3) {
			margin-right: 30px;
		}

		.col-4:nth-child(2), .col-4:nth-child(4), .col-4:nth-child(6) {
			margin-right: 0;
		}
	}

	@include mq("extra-small", "max-width") {
		.col-4 {
			width: 100%;
		}
	}
}

.discovery-item {
	@include aspect-ratio(16, 9);
	width: 100%;
	background: $colorType;
	display: block;
	cursor: pointer;
	position: relative;
	margin-bottom: 30px;

	h2, p {
		color: #fff;
		top: 0;
		position: absolute;
		text-align: center;
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	h2 {
	 top: 30%;
	}

	p {
	 	display: block;
	 	margin: 0 auto;
	 	top: 45%;
	 	float: none;
	 	width: 68%;
	 	margin-left: -35%;
	 	left: 50%;
	}

	@include mq("medium", "max-width") {
		h2 {
			top: 38%;
		}
		p {
			display: none;
		}
	}

	@include mq("small", "max-width") {
		h2 {
			top: 27%;
		}

		p {
			display: block;
		}
	}
}

.video {
	background: $colorType;
	width: 100%;
	height: auto;
	overflow: auto;
	padding: 50px 0 75px 0;

	.image {
		background: darken($colorType, 10%);
	}

	h2 {
		color: #fff;
		padding-bottom: 25px;
	}

	p, h5 {
		padding: 0;
		color: #fff;
		padding-bottom: 23px;
	}

	h4 {
		color: #fff;
	}

	h5 {
		display: block;
		font-size: 0.7em;
		border: 1px solid $colorGrey;
		width: intrinsic;
		padding: 8px 10px;
		@include border-radius(2px);
		margin-bottom: 23px;
	}

	p {
		opacity: 0.8;
	}

	.link-btn-one {
		margin-top: 8px;
	}

	.link-btn-two {
		margin-top: 20px;
	}

	@include mq("small", "max-width") {
		padding: 20px 0 25px 0;

		h2 {
			padding-bottom: 20px;
		}

		.col-6 {
			width: 100%;
			margin-bottom: 40px;
		}
	}
}

.longform {
	width: 100%;
	height: auto;
	overflow: auto;
	padding: 30px 0;

	.col-6 {
		float: right;
	}

	h4 {
		padding: 0.8em 0 0 0 ;
		color: #000;
	}

	p {
		color: #747474;
	}

	@include mq("small", "max-width") {
		.grid-container {
			width: 80%;
		}

		p {
			font-size: 1.1em;
		}

		.col-4, .col-6 {
			width: 100%;
		}

		.col-4 p {
			font-size: 1.25em;
			line-height: 1.3em;
			margin-bottom: 20px;
		}
	}

	@include mq("extra-small", "max-width") {
		padding: 0;

		.grid-container {
			@include calc(width, "100% - 60px");
		}

		.col-4 p {
			margin-bottom: 0;
		}
	}
}

.longform-breakdown {
	width: 100%;
	height: auto;
	overflow: auto;
	padding: 50px 0;

	.col-3 {
		float: right;

		p {
			padding-right: 50px;
		}
	}

	@include mq("small", "max-width") {
		.grid-container {
			width: 80%;
		}

		.col-4, .col-6 {
			width: 100%;
		}

		.col-4 p {
			font-size: 1.25em;
			line-height: 1.3em;
			margin-bottom: 30px;
		}

		.col-3 {
			margin-top: 0px;
			@include calc(width, "50% - 15px");

			&:first-child {
				margin-right: 24px;
			}
		}
	}

	@include mq("extra-small", "max-width") {
		display: none;
		padding: 0;

		.grid-container {
			@include calc(width, "100% - 60px");
		}

		.col-4 p {
			margin-bottom: 0;
		}

		.col-3 {
			width: 100%;
		}
	}
}

.image-gallery {
	@include mq("small", "max-width") {
		margin-top: 24px;

		.col-6 {
			width: 100%;
		}
		.image {
			margin: 12px 0;
		}
		.row {
			margin: 0;
		}


	}
}

.movie-picker {
	h1 {
		padding: 25px 0;
		text-align: center;
		color: $colorType;
	}
}

.movie-picker-item {
	display: block;

	.image {
		margin-bottom: 25px;
	}

	h2 {
		color: $colorType;
	}

	h5 {
		@include transition( all, 0.1s, ease-in-out);
		display: block;
		font-size: 0.7em;
		border: 1px solid $colorGrey;
		width: intrinsic;
		padding: 6px 8px;
		color: $colorType;
		@include border-radius(2px);
		margin-bottom: 5px;
	}

	p {
		color: $colorType;
		margin-bottom: 5px;
	}

	&:hover h5 {
		background: $colorType;
		border: 1px solid $colorType;
		color: #fff;
	}
}