// =================================================================
// 	Mediapreview
// 	Sections
// =================================================================

.hero {
	width: 100%;
	height: auto;
	padding: 270px 0 10px 0;
	background: $colorType;
	z-index: 5;
	overflow: hidden;
	position: relative;

	.col-6 {
		z-index: 10;
		display: block;
		margin: 0 auto;
		float: none;
		position: relative;
	}

	.col-8 {
		z-index: 10;
		display: block;
		margin: 0 auto;
		float: none;
	}

	h2 {
		color: #fff;
		text-align: center;
	}

	.link-btn-one {
		display: block;
		margin: 40px auto 0 auto;
		float: none;
	}

	img {
		opacity: 0.7;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		overflow: hidden;
	}

	@include mq("medium", "max-width") {

		.col-8, .col-6 {
			@include calc(width, "66.64% - 10px");
		}

	}

	@include mq("small", "max-width") {
		padding-bottom: 0px;
		min-height: 150px;

		img {
			display: block;
			width: 300%;
			height: auto;
			float: none;
			margin: 0 auto;
			margin-left: -120%;
		}

		.col-8, .col-6 {
			width: 100%;
		}
	}

	@include mq("super-small", "max-width") {
		padding: 260px 0 0px 0;

		h2 {
			text-align: left;
		}
	}
}

.gradient {
		width: 100%;
		height: 40%;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
		@include linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%,rgba(30, 30, 30, 1) 100%);
	}

.discovery {
	margin: 30px 0 0 0;

	.row {
		margin-bottom: 0;
	}

	h2 {
		color: $colorType;
		text-align: center;
	}

	h1 {
		color: $colorType;
		text-align: center;
	}

	.col-4:nth-child(3), .col-4:nth-child(6) {
		margin-right: 0;
	}

	@include mq("small", "max-width") {

		.col-4 {
			@include calc(width, "50% - 15px");
		}

		.col-4:nth-child(3) {
			margin-right: 30px;
		}

		.col-4:nth-child(2), .col-4:nth-child(4), .col-4:nth-child(6) {
			margin-right: 0;
		}
	}

	@include mq("extra-small", "max-width") {
		.col-4 {
			width: 100%;
		}

		.h2 {
			font-size: 0.9em;
		}

		.col-4:last-child .discovery-item {
			margin-bottom: 0;
		}
	}
}

.discovery-item {
	@include aspect-ratio(16, 9);
	width: 100%;
	background: $colorType;
	display: block;
	cursor: pointer;
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;

	img.lazy {
		width: 105%;
		height: auto;
		position: absolute;
		top: 0;
		left: -2.5%;
	}

	h2, p {
		color: #fff;
		top: 0;
		position: absolute;
		text-align: center;
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	h2 {
	 top: 20%;
	}

	p {
	 	display: block;
	 	margin: 0 auto;
	 	top: 40%;
	 	float: none;
	 	width: 68%;
	 	margin-left: -35%;
	 	left: 50%;
	}

	@include mq("medium", "max-width") {
		h2 {
			top: 38%;
		}
		p {
			display: none;
		}
	}

	@include mq("small", "max-width") {
		h2 {
			top: 19%;
		}

		p {
			display: block;
			top: 39%;
		}
	}
}

.video {
	background: $colorType;
	width: 100%;
	height: auto;
	overflow: auto;
	padding: 150px 0 75px 0;

	.image {
		background: darken($colorType, 10%);
	}

	h2 {
		color: #fff;
		padding-bottom: 25px;
	}

	p, h5 {
		padding: 0;
		color: #fff;
		padding-bottom: 23px;
	}

	h4 {
		color: #fff;
	}

	h5 {
		display: block;
		font-size: 0.7em;
		border: 1px solid $colorGrey;
		width: intrinsic;
		padding: 8px 10px;
		@include border-radius(2px);
		margin-bottom: 23px;
	}

	p {
		opacity: 0.8;
	}

	.link-btn-one {
		margin-top: 8px;
	}

	.link-btn-two {
		margin-top: 20px;
	}

	@include mq("small", "max-width") {
		padding: 100px 0 0 0;
		box-sizing: border-box;

		h2 {
			margin-top: 30px;
			padding-bottom: 20px;
		}

		.col-8, .col-4 {
			width: 100%;
			margin-bottom: 10px;
		}

		.row .col-4 .link-btn-two {
			width: 100%;
		}
	}
}

.page-nav {
	.row {
		padding: 15px 0 15px 0;
	}

	a {
		color: $colorGrey;
		font-size: 0.9em;
		display: block;
		float: left;
		border-bottom: 2px solid #fff;

		&:hover {
			border-bottom: 2px solid $colorGrey;
		}
	}

	.base {
		margin-right: 35px;
		position: relative;

		&:after {
			content: "";
			display: block;
			width: 20px;
			height: 20px;
			background: url('images/arrow-right-grey.svg');
			background-repeat: no-repeat;
			position: absolute;
			right: -30px;
			top: -1px;

		}
	}

	@include mq("small", "max-width") {
		font-size: 1em;
	}
}

.longform {
	width: 100%;
	height: auto;
	overflow: auto;
	padding: 30px 0;

	.col-6 {
		float: right;
	}

	h4 {
		padding: 0.8em 0 0 0 ;
		color: #000;
	}

	p {
		color: #747474;
	}

	p.large {
		color: #3F3F3F;
	}

	@include mq("small", "max-width") {
		.grid-container {
			width: 80%;
		}

		p {
			font-size: 1em;
		}

		.col-4, .col-6 {
			width: 100%;
		}

		.col-6 {
			margin-right: 0 !important;
			margin-bottom: 30px;
		}

		.col-6 p.large {
			font-size: 1.2em;
		}

		h4, h5, p {
			font-size: 16px;
		}
	}

	@include mq("extra-small", "max-width") {
		padding: 0;

		.grid-container {
			@include calc(width, "100% - 60px");
		}

		.col-4 p {
			margin-bottom: 0;
		}
	}
}

.testimonials {
	p {
		width: 100%;
		display: block;
	}

	h4 {
		float: left;
	}

	h5 {
		margin-top: 30px;
		clear: both;
		width: 100%;
		display: block;
		text-transform: none;
		letter-spacing: 0;
		line-height: 1;
	}

	@include mq("small", "max-width") {
		h5 {
			margin-top: 15px;
		}	
	}
}

.longform-breakdown {
	width: 100%;
	height: auto;
	overflow: auto;
	padding: 50px 0;

	.col-3 {
		float: right;

		p {
			padding-right: 50px;
		}
	}

	@include mq("small", "max-width") {
		.grid-container {
			width: 80%;
		}

		.col-4, .col-6 {
			width: 100%;
		}

		.col-4 p {
			font-size: 1.25em;
			line-height: 1.35em;
			margin-bottom: 30px;
		}

		.col-3 {
			margin-top: 0px;
			@include calc(width, "50% - 15px");

			&:first-child {
				margin-right: 24px;
			}
		}
	}

	@include mq("extra-small", "max-width") {
		display: none;
		padding: 0;

		.grid-container {
			@include calc(width, "100% - 60px");
		}

		.col-4 p {
			margin-bottom: 0;
		}

		.col-3 {
			width: 100%;
		}
	}
}

.image-gallery {
	@include mq("small", "max-width") {
		margin-top: 30px;

		.image {
			margin: 15px 0;
		}

		.col-6 {
			width: 100%;
		}
		
		.row {
			margin: 0;

			&:last-child {
				.col-6:last-child .image {
					margin-bottom: 0;
				}
			}
		}
	}
}

.movie-picker {
	h1 {
		padding: 25px 0;
		text-align: center;
		color: $colorType;
	}

	@include mq("small", "max-width") {
		padding: 15px 0;

		.col-4, .col-6 {
			width: 100%;
			padding: 15px 0;
		}

		.row {
			margin: 0;
		}
	}
}

.movie-picker-item {
	display: block;
	position: relative;

	.overlay {
		position: absolute; 
		top: 0; 
		left: 0; 
		z-index: 10; 
		background: red; 
		width: 100%; 
		height: 100%; 
		opacity: 0.5;
	}

	.image {
		margin-bottom: 25px;
	}

	h2, h3 {
		color: $colorType;
	}

	h4 {
		color: $colorType;
		margin-bottom: 5px;
	}

	h5 {
		@include transition( all, 0.1s, ease-in-out);
		display: block;
		font-size: 0.7em;
		width: 100%;
		color: $colorGrey;
		margin-bottom: 5px;
		border: 0;
	}

	span {
		color: $colorGrey;
		text-align: right;
		float: right;
	}

	p {
		color: $colorType;
		margin-bottom: 5px;
	}
}

.col-6 .movie-picker-item {
	h5 span {
		float: none;
		padding-left: 10px;
	}
}

.lightbox {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;

	.lightbox-bg {
		background: rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9;
	}

	.col-6 {
		display: block;
		float: none;
		margin: 25vh auto;
		z-index: 11;

		.information-holder {
			height: auto;
			background: #fff;
			padding: 15px 20px;

			h4 {
				color: $colorType;
				margin-bottom: 5px;
			}

			h5 {
				@include transition( all, 0.1s, ease-in-out);
				display: block;
				font-size: 0.7em;
				width: intrinsic;
				color: $colorGrey;
				margin-bottom: 5px;
				border: 0;
			}
		}
	}

	.distress-switcher {
		display: none;
		position: relative;

		.link-btn-one {
			width: 100%;
			position: absolute;
			line-height: 50%;
			height: 50%;
			box-sizing: border-box;
			padding-top: 14%;
			top: 0;
			background: $colorType;
			color: #fff;
			@include border-radius(0);
			
			&:nth-child(2) {
				top: 50%;
				background: darken($colorType, 10%);
			}
		}

		&.active {
			display: block;
		}
	}

	&.active {
		display: block;
	}

	@include mq("small", "max-width") {
		.col-6 {
			width: 100% !important;
		}
	}
}


