// =================================================================
// 	Mediapreview
// 	Sections
// =================================================================

.hero {
	width: 100%;
	height: auto;
	padding: 200px 0 150px 0;
	background: $colorType;

	.col-6 {
		display: block;
		margin: 0 auto;
		float: none;
	}

	h2 {
		color: #fff;
		text-align: center;
	}

	.link-btn-one {
		display: block;
		margin: 40px auto 0 auto;
		float: none;
	}

	@include mq("medium", "max-width") {
		.col-6 {
			@include calc(width, "66.64% - 10px");
		}
	}

	@include mq("small", "max-width") {
		.col-6 {
			@include calc(width, "100%");
		}
	}

	@include mq("super-small", "max-width") {
		padding: 130px 0 150px 0;
	}
}

.discovery {
	margin: 30px 0 0 0;

	.row {
		margin-bottom: 0;
	}

	.col-4:nth-child(3), .col-4:nth-child(6) {
		margin-right: 0;
	}

	@include mq("small", "max-width") {

		.col-4 {
			@include calc(width, "50% - 15px");
		}

		.col-4:nth-child(3) {
			margin-right: 30px;
		}

		.col-4:nth-child(2), .col-4:nth-child(4), .col-4:nth-child(6) {
			margin-right: 0;
		}
	}

	@include mq("extra-small", "max-width") {
		.col-4 {
			width: 100%;
		}
	}
}

.discovery-item {
	@include aspect-ratio(16, 9);
	width: 100%;
	background: $colorType;
	display: block;
	cursor: pointer;
	position: relative;
	margin-bottom: 30px;

	h2, p {
		color: #fff;
		top: 0;
		position: absolute;
		text-align: center;
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	h2 {
	 top: 30%;
	}

	p {
	 	display: block;
	 	margin: 0 auto;
	 	top: 45%;
	 	float: none;
	 	width: 68%;
	 	margin-left: -35%;
	 	left: 50%;
	}

	@include mq("medium", "max-width") {
		h2 {
			top: 38%;
		}
		p {
			display: none;
		}
	}

	@include mq("small", "max-width") {
		h2 {
			top: 27%;
		}

		p {
			display: block;
		}
	}
}

.video {
	background: $colorType;
	width: 100%;
	height: auto;
	overflow: auto;
	padding: 50px 0 75px 0;

	.image {
		background: darken($colorType, 10%);
	}

	h2 {
		text-align: center;
		color: #fff;
		padding-bottom: 50px;
	}

	h4, p {
		padding: 0;
		color: #fff;
		padding-bottom: 23px;
	}

	p {
		opacity: 0.8;
	}

	.link-btn-one {
		margin-top: 8px;
	}

	@include mq("small", "max-width") {
		padding: 20px 0 25px 0;

		h2 {
			padding-bottom: 20px;
		}

		.col-6 {
			width: 100%;
			margin-bottom: 40px;
		}
	}
}

.longform {
	width: 100%;
	height: auto;
	overflow: auto;
	padding: 30px 0;
	
	.col-6 {
		float: right;
	}
}

.longform-breakdown {
	width: 100%;
	height: auto;
	overflow: auto;
	padding: 50px 0;
	.col-3 {
		float: right;
	}
}